<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loseHp/+.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,192},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{38,38}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/-.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,232},{30,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{30,20}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,144},{46,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,52}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,192},{34,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{34,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{40,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,50},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,98},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{46,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,56}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
            <key>loseHp/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{50,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loseHp.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c94f78ad8859f7c35e399cb66588177$</string>
            <key>textureFileName</key>
            <string>loseHp.png</string>
        </dict>
    </dict>
</plist>
